### Grillo, Gian Franco.

#

Imports para los ejercicios

In [1]:
import numpy as np
import pandas as pd

#

# 1

Generar un array aleatorio de 100 elementos. Calcular la mediana correspondiente

In [2]:
#Array de 100 enteros aleatorios entre 0 y 100.

random_100elem_array = np.random.randint(100, size=100)

random_100elem_array

array([55, 88, 72, 87, 60, 60, 23, 65, 70, 31, 74, 38, 91, 98, 57, 79, 49,
       66, 53, 80, 87, 76, 25, 30, 51, 97, 26, 16, 26,  0,  9, 72, 95, 82,
       27, 82, 72, 86, 24, 62, 83, 34, 63, 40, 29, 64, 96, 87, 31, 18, 96,
        7, 98, 16, 88, 93, 46,  1, 91, 83, 90, 48, 89, 21,  8, 27,  6, 57,
       49, 59, 33, 67, 36, 84, 70, 32, 75,  9, 82, 42, 95, 65, 54, 65,  9,
       16, 89, 71, 93, 80, 53, 13, 62, 68, 71, 13, 90, 69, 92, 62])

In [3]:
print("Mediana =", np.median(random_100elem_array))

Mediana = 62.5

#

# 2

Recordar los ejercicios con funciones para cálculo de factorial y suma de serie de la Clase 02. Repetir ambos ejercicios, pero ahora utilizar las nuevas operaciones aprendidas con los ndarrays.

## 2.A 
Escribir una función para calcular el factorial de un número cualquiera.

In [4]:
def factorial(num):
    return np.prod(range(1,num+1))

In [5]:
print("Factorial de 4 es",factorial(4)) #Esperando 24 como resultado.
print("Factorial de 5 es",factorial(5)) #Esperando 120 como resultado.
print("Factorial de 0 es",factorial(0)) #Esperando 1 como resultado.

Factorial de 4 es 24
Factorial de 5 es 120
Factorial de 0 es 1.0

## 2.B
Escribir una función para calcular la suma de una serie comenzando por un número cualquiera y terminando en otro número que debe ser mayor al primero.

In [6]:
#Sin especificar, en esta implementación, se verifica cual de los 2 números es el mayor para sumar desde el menor
#hasta el mayor.
#
#Sin especificar, se incluirán ambos numeros ingresados en la suma de la serie, salvo que ambos numeros sean iguales
#en el caso que el inicial sea igual al final, se devolverá ese número como resultado

def sumarSerie(primerNumero, segundoNumero):
        
    #Si el segundo número es mayor al primero, intercambio valores
    if primerNumero > segundoNumero:
        primerNumero,segundoNumero = segundoNumero,primerNumero
        
    return np.sum(range(primerNumero,segundoNumero+1))

In [7]:
print("Suma de los numeros entre 0 y 10 =",sumarSerie(0,10)) #Esperando como resultado 55
print("Suma de los numeros entre -5 y 0 =",sumarSerie(-5,0)) #Esperando como resultado -15
print("Suma de los numeros entre 15 y 10 =",sumarSerie(15,10)) #Esperando como resultado 75
print("Suma de los numeros entre 4 y 0 =",sumarSerie(4,0)) #Esperando como resultado 10
print("Suma de los numeros entre 8 y 8 =",sumarSerie(8,8)) #Esperando como resultado 8

Suma de los numeros entre 0 y 10 = 55
Suma de los numeros entre -5 y 0 = -15
Suma de los numeros entre 15 y 10 = 75
Suma de los numeros entre 4 y 0 = 10
Suma de los numeros entre 8 y 8 = 8

#

# 3

En este link se provee un archivo con los resultados de la Encuesta de Sueldos de Openqube de Febrero 2020 (https://sueldos.openqube.io/encuesta-sueldos-2020.02/ ), Calcular y comparar media y mediana de los sueldos netos.

In [8]:
df_encuesta_sueldos = pd.read_csv("C:\\Users\\usuario\\Downloads\\Salarios Openqube - 2020.02.csv")

#limpieza de nulos
sueldos_netos = df_encuesta_sueldos['Salario mensual NETO (en tu moneda local)'].dropna()

#conversión a tipo numerico ignorando valores con errores de formato
sueldos_netos = pd.to_numeric(sueldos_netos, errors='coerce')


print("Media = {:.2f}".format(sueldos_netos.mean()))
print("Mediana = {:.2f}".format(sueldos_netos.median()))

Media = 19306004.38
Mediana = 76000.00